sudo: false
language: cpp
compiler:
  - clang
  - gcc
os:
#  - linux
  - osx
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-4.9
      - g++-4.9
      - libwxgtk3.0-dev
install:
  - if [ "${TRAVIS_OS_NAME}" = "linux" ] && [ "${CXX}" = "g++" ]; then export CXX="g++-4.9"; fi
  - if [ "${TRAVIS_OS_NAME}" = "osx" ]; then brew update; brew install wxmac; fi;
  - git clone https://github.com/google/googletest.git
  - mkdir gtest && pushd gtest && cmake ../googletest/googletest && make && popd
script:
  - cmake -Dbuild_test=ON .
  - make
  - ctest
