sudo: false
language: cpp
compiler:
  - clang
  - gcc
os:
  - linux
  - osx
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-4.9
      - g++-4.9
      - freeglut3-dev
      - libglui-dev
install:
  - if [ "${TRAVIS_OS_NAME}" = "linux" ] && [ "${CXX}" = "g++" ]; then export CXX="g++-4.9"; fi
  - if [ "${TRAVIS_OS_NAME}" = "osx" ]; then brew update; brew install glui; fi;
script:
  - cmake .
  - make
